<div class="col-6 col-md-4 col-lg-3 p-1">
    <div class="">
        <img src="https://via.placeholder.com/400x300" class="card-img-top" alt="...">
        <div>
            <h6 class="px-1">{{ad.title}}</h6>
            <div class="px-1">${{ad.price}}</div>
            <div class="px-1 text-muted small"><em>{{ad.address}}</em></div>
        </div>
    </div>
</div>