<div aria-hidden="true">
    <a href="#">
        <img src="https://via.placeholder.com/400x300/cccccc/ffffff?text=Loading..." 
            class="card-img-top placeholder-wave" alt="Placeholder image">
    </a>
    <div class="">
        <div class="px-1 pb-2 placeholder col-8 placeholder-wave"></div>
        <div class="px-1 placeholder col-4 placeholder-wave"></div>
        <div class="px-1 text-muted small placeholder col-10 placeholder-wave"></div>
    </div>
</div>
