{% extends 'base.html.twig' %}

{% block title %}Transport, Real estate, Electronics, Jobs, Services, Others{% endblock %}

{% block body %}
<div class="container-fuild">
    <div class="row m-1">
        <div class="col-lg-9">
            <div class="row">                
                {% for ad in ads %}
                <div class="col-6 col-md-4 col-lg-3 p-1">
                    {% include "home/_ad_card.html.twig" %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block">
            {% if myAds|length > 0 %}        
                <div class="row mb-2">
                    <h5>My ads</h5>
                    {% for ad in myAds %}
                        {% include "home/_my_ad_card.html.twig" %}
                    {% endfor %}
                <a href="#" class="btn btn-secondary form-control">All my ads</a>
                </div>
            {% endif %}
            {% if favorites|length > 0 %}        
                <div class="row">
                    <h5>My favorites</h5>
                    {% for favorite in favorites %}
                        {% include "home/_favorite_card.html.twig" %}
                    {% endfor %}
                <a href="#" class="btn btn-secondary form-control">All my favorites</a>
                </div>
            {% endif %}        
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const favoriteIcons = document.querySelectorAll('i.favorite-toggle');
        
        favoriteIcons.forEach(icon => {
            icon.addEventListener('click', function() {
                const url = icon.getAttribute('data-url');
                
                // Envoie de la requête AJAX
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-Requested-With': 'XMLHttpRequest' // Pour indiquer que c'est une requête AJAX
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.isFavorite) {
                        // Marquer comme favori (ajouter la classe fa-solid)
                        icon.classList.remove('fa-regular');
                        icon.classList.add('fa-solid');
                    } else {
                        // Enlever des favoris (remettre la classe fa-regular)
                        icon.classList.remove('fa-solid');
                        icon.classList.add('fa-regular');
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                });
            });
        });
    });
</script>
{% endblock %}