{% extends 'base.html.twig' %}

{% block title %}My favorites{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-3">
        
        </div>
        <div class="col-9">            
            <h1 class="border-bottom pb-3 mb-3">My favorites</h1>
            {% for favorite in favorites %}
                {% include "profile/favorite/_card.html.twig" %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile_favorite_index') }}
{% endblock %}
