<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
        </ul>
        <div class="d-flex align-items-center justify-content-center mb-2">
            <span class="text-center text-body-secondary">&copy; 2024 Company, Inc</span>
            <i class="fa-brands fa-facebook fa-2x ms-2"></i>
            <i class="fa-brands fa-instagram fa-2x  ms-2"></i>
            <i class="fa-brands fa-whatsapp fa-2x  ms-2"></i>
        </div>
    </footer>
</div>